<%= form_with(model: izakaya, local: true) do |form| %>
  <% if izakaya.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(izakaya.errors.count, "error") %> prohibited this izakaya from being saved:</h2>

      <ul>
        <% izakaya.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.text_field :tel %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
